<div id="HeroSection">
    <div id="col1">
        <h1>Chill Drive Pokedex</h1>
        <p>
            Welcome to the Chill Drive Pokedex! Here you can find information on
            Pokemon, moves, types, and abilities.
        </p>
        <ul>
            <li>Home</li>
            <li><a href="pokemon.html">Pokemon</a></li>
            <li><a href="moves.html">Moves</a></li>
            <li><a href="types.html">Types</a></li>
            <li><a href="abilities.html">Abilities</a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="ranges.html">Ranges</a></li>
        </ul>
    </div>
    <div id="col2">
        <img id="genesect" src="genesect.gif" alt="Floating Genesect" />
    </div>
</div>