<form class="form-horizontal">
  <fieldset>
    <!-- Form Name -->
    <legend>Enter or search Ability</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Ability Name"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Ability Description"
        required=""
      />
    </div>

    <br />
    <button type="button" onclick="">Enter</button>
    <button type="button" onclick="">Search</button>
  </fieldset>
</form>

<table id="abilitiesData">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ability Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>❌ 1</td>
      <td>✍ Static</td>
      <td>May cause paralysis when hit by a physical move.</td>
    </tr>
    <tr>
      <td>❌ 2</td>
      <td>✍ Blaze</td>
      <td>
        Boosts the power of Fire-type moves when the Pokémon's HP is low.
      </td>
    </tr>
    <tr>
      <td>❌ 3</td>
      <td>✍ Shield Dust</td>
      <td>Blocks the added effects of attacks taken.</td>
    </tr>
    <!-- Add more rows as needed -->
  </tbody>
</table>