<form id="search-form" class="form-horizontal" data-command="SELECT" method="post" action="" onsubmit="Query(this)">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Categories</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Category Name"
        required=""
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

