<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Moves</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Move Name"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Move Description"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="typeId"
        name="typeId"
        type="text"
        placeholder="Type ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="categoryId"
        name="categoryId"
        type="text"
        placeholder="Category ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="rangeId"
        name="rangeId"
        type="text"
        placeholder="Range ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pp"
        name="pp"
        type="text"
        placeholder="PP"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="power"
        name="power"
        type="text"
        placeholder="Power"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="accuracy"
        name="accuracy"
        type="text"
        placeholder="Accuracy"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="priority"
        name="priority"
        type="text"
        placeholder="Priority"
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

<!-- Add -->
<form id="insert-form" class="form-horizontal" data-command="INSERT">
  <fieldset>
    <legend>Add New Move</legend>
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Move Name"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Move Description"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="typeid"
        name="typeid"
        type="text"
        placeholder="Type ID"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="categoryid"
        name="categoryid"
        type="text"
        placeholder="Category ID"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="rangeid"
        name="rangeid"
        type="text"
        placeholder="Range ID"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="pp"
        name="pp"
        type="text"
        placeholder="PP"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="power"
        name="power"
        type="text"
        placeholder="Power"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="accuracy"
        name="accuracy"
        type="text"
        placeholder="Accuracy"
        required
      />
    </div>
    <div class="form-group">
      <input
        id="priority"
        name="priority"
        type="text"
        placeholder="Priority"
        required
      />
    </div>
    <br />
    <button type="submit">Add Move</button>
  </fieldset>
</form>

<!-- Update -->
<form id="update-form" class="form-horizontal" data-command="UPDATE">
  <fieldset>
    <legend>Update Move</legend>
    <div class="form-group">
      <input
        id="id"
        name="id"
        type="text"
        placeholder="Move ID"
      />
    </div>
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Move Name"
      />
    </div>
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Move Description"
      />
    </div>
    <div class="form-group">
      <input
        id="typeid"
        name="typeid"
        type="text"
        placeholder="Type ID"
      />
    </div>
    <div class="form-group">
      <input
        id="categoryid"
        name="categoryid"
        type="text"
        placeholder="Category ID"
      />
    </div>
    <div class="form-group">
      <input
        id="rangeid"
        name="rangeid"
        type="text"
        placeholder="Range ID"
      />
    </div>
    <div class="form-group">
      <input
        id="pp"
        name="pp"
        type="text"
        placeholder="PP"
      />
    </div>
    <div class="form-group">
      <input
        id="power"
        name="power"
        type="text"
        placeholder="Power"
      />
    </div>
    <div class="form-group">
      <input
        id="accuracy"
        name="accuracy"
        type="text"
        placeholder="Accuracy"
      />
    </div>
    <div class="form-group">
      <input
        id="priority"
        name="priority"
        type="text"
        placeholder="Priority"
      />
    </div>
    <br />
    <button type="submit">Update Move</button>
  </fieldset>
</form>

<!-- Delete -->
<form id="delete-form" class="form-horizontal" data-command="DELETE">
  <fieldset>
    <legend>Delete Move</legend>
    {{> dynamicDropdown dropdownContext.moveId}}
    <br />
    <button type="submit">Delete Move</button>
  </fieldset>
</form>

