<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Moves</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Move Name"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Move Description"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="typeId"
        name="typeId"
        type="text"
        placeholder="Type ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="categoryId"
        name="categoryId"
        type="text"
        placeholder="Category ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="rangeId"
        name="rangeId"
        type="text"
        placeholder="Range ID"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pp"
        name="pp"
        type="text"
        placeholder="PP"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="power"
        name="power"
        type="text"
        placeholder="Power"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="accuracy"
        name="accuracy"
        type="text"
        placeholder="Accuracy"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="priority"
        name="priority"
        type="text"
        placeholder="Priority"
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

