<form id="search-form" class="form-horizontal" data-command="SELECT" method="post" action="" onsubmit="Query(this)">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Moves</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Move Name"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="description"
        name="description"
        type="text"
        placeholder="Move Description"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="typeid"
        name="typeid"
        type="text"
        placeholder="Type ID"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="categoryid"
        name="categoryid"
        type="text"
        placeholder="Category ID"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="rangeid"
        name="rangeid"
        type="text"
        placeholder="Range ID"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pp"
        name="pp"
        type="text"
        placeholder="PP"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="power"
        name="power"
        type="text"
        placeholder="Power"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="accuracy"
        name="accuracy"
        type="text"
        placeholder="Accuracy"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="priority"
        name="priority"
        type="text"
        placeholder="Priority"
        required=""
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

