<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Pokemon</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonname"
        name="pokemonname"
        type="text"
        placeholder="Name"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonspecies"
        name="pokemonspecies"
        type="text"
        placeholder="Species"
        required=""
      />
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <select id="pokemonintrogen" name="pokemonintrogen">
        <option value="" disabled selected>Intro Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <select id="pokemonlatestgen" name="pokemonlatestgen">
        <option value="" disabled selected>Latest Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="baseHP"
        name="baseHP"
        type="text"
        placeholder="HP"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="baseAttack"
        name="baseAttack"
        type="text"
        placeholder="Attack"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="baseDefense"
        name="baseDefense"
        type="text"
        placeholder="Defense"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpAttack"
        name="baseSpAttack"
        type="text"
        placeholder="Sp. Attack"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpDefense"
        name="baseSpDefense"
        type="text"
        placeholder="Sp. Defense"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpeed"
        name="baseSpeed"
        type="text"
        placeholder="Speed"
        required=""
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonWeight"
        name="pokemonWeight"
        type="text"
        placeholder="Weight"
        required=""
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonHeight"
        name="pokemonHeight"
        type="text"
        placeholder="Height"
        required=""
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

