<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search Pokemon</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonname"
        name="pokemonname"
        type="text"
        placeholder="Name"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonspecies"
        name="pokemonspecies"
        type="text"
        placeholder="Species"
      />
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <select id="pokemonintrogen" name="pokemonintrogen">
        <option value="" disabled selected>Intro Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <select id="pokemonlatestgen" name="pokemonlatestgen">
        <option value="" disabled selected>Latest Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="baseHP"
        name="baseHP"
        type="text"
        placeholder="HP"
      />
    </div>

    <div class="form-group">
      <input
        id="baseAttack"
        name="baseAttack"
        type="text"
        placeholder="Attack"
      />
    </div>

    <div class="form-group">
      <input
        id="baseDefense"
        name="baseDefense"
        type="text"
        placeholder="Defense"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpAttack"
        name="baseSpAttack"
        type="text"
        placeholder="Sp. Attack"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpDefense"
        name="baseSpDefense"
        type="text"
        placeholder="Sp. Defense"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpeed"
        name="baseSpeed"
        type="text"
        placeholder="Speed"
      />
    </div>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="pokemonWeight"
        name="pokemonWeight"
        type="text"
        placeholder="Weight"
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonHeight"
        name="pokemonHeight"
        type="text"
        placeholder="Height"
      />
    </div>

    <br />
    <button type="submit">Search</button>
  </fieldset>
</form>

<!-- Add -->
<form id="insert-form" class="form-horizontal" data-command="INSERT">
  <fieldset>
    <legend>Add New Pokémon</legend>

    <div class="form-group">
      <input
        id="pokemonname"
        name="pokemonname"
        type="text"
        placeholder="Name"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonspecies"
        name="pokemonspecies"
        type="text"
        placeholder="Species"
        required
      />
    </div>

    <div class="form-group">
      <select id="pokemonintrogen" name="pokemonintrogen">
        <option value="" disabled selected>Intro Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="form-group">
      <select id="pokemonlatestgen" name="pokemonlatestgen">
        <option value="" disabled selected>Latest Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="form-group">
      <input
        id="baseHP"
        name="baseHP"
        type="text"
        placeholder="HP"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="baseAttack"
        name="baseAttack"
        type="text"
        placeholder="Attack"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="baseDefense"
        name="baseDefense"
        type="text"
        placeholder="Defense"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpAttack"
        name="baseSpAttack"
        type="text"
        placeholder="Sp. Attack"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpDefense"
        name="baseSpDefense"
        type="text"
        placeholder="Sp. Defense"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpeed"
        name="baseSpeed"
        type="text"
        placeholder="Speed"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="friendship"
        name="friendship"
        type="text"
        placeholder="Friendship"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonWeight"
        name="pokemonWeight"
        type="text"
        placeholder="Weight"
        required
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonHeight"
        name="pokemonHeight"
        type="text"
        placeholder="Height"
        required
      />
    </div>

    <br />
    <button type="submit">Add Pokémon</button>
  </fieldset>
</form>

<!-- Update -->
<form id="update-form" class="form-horizontal" data-command="UPDATE">
  <fieldset>
    <legend>Update Pokémon</legend>

    <div class="form-group">
      <input
        id="id"
        name="id"
        type="text"
        placeholder="Pokémon ID"
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonname"
        name="pokemonname"
        type="text"
        placeholder="Name"
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonspecies"
        name="pokemonspecies"
        type="text"
        placeholder="Species"
      />
    </div>

    <div class="form-group">
      <select id="pokemonintrogen" name="pokemonintrogen">
        <option value="" disabled selected>Intro Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="form-group">
      <select id="pokemonlatestgen" name="pokemonlatestgen">
        <option value="" disabled selected>Latest Gen</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
      </select>
    </div>

    <div class="form-group">
      <input
        id="baseHP"
        name="baseHP"
        type="text"
        placeholder="HP"
      />
    </div>

    <div class="form-group">
      <input
        id="baseAttack"
        name="baseAttack"
        type="text"
        placeholder="Attack"
      />
    </div>

    <div class="form-group">
      <input
        id="baseDefense"
        name="baseDefense"
        type="text"
        placeholder="Defense"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpAttack"
        name="baseSpAttack"
        type="text"
        placeholder="Sp. Attack"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpDefense"
        name="baseSpDefense"
        type="text"
        placeholder="Sp. Defense"
      />
    </div>

    <div class="form-group">
      <input
        id="baseSpeed"
        name="baseSpeed"
        type="text"
        placeholder="Speed"
      />
    </div>

    <div class="form-group">
      <input
        id="friendship"
        name="friendship"
        type="text"
        placeholder="Friendship"
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonWeight"
        name="pokemonWeight"
        type="text"
        placeholder="Weight"
      />
    </div>

    <div class="form-group">
      <input
        id="pokemonHeight"
        name="pokemonHeight"
        type="text"
        placeholder="Height"
      />
    </div>

    <br />
    <button type="submit">Update Pokémon</button>
  </fieldset>
</form>

<!-- Delete -->
<form id="delete-form" class="form-horizontal" data-command="DELETE">
  <fieldset>
    <legend>Delete Pokémon</legend>

    {{> dynamicDropdown dropdownContext.id}}

    <br />
    <button type="submit">Delete Pokémon</button>
  </fieldset>
</form>

<!-- Delete Entry from Intersection Table -->
<form id="delete-move-form" class="form-horizontal" data-command="DELETE" data-mn="PokemonMoves">
  <fieldset>
    <legend>Delete Entry</legend>
    {{> dynamicDropdown dropdownContext.pokemonId}}
    {{> dynamicDropdown dropdownContext.moveId}}
    <br />
    <button type="submit">Delete Entry</button>
  </fieldset>
</form>

<!-- Update Entry in Intersection Table -->
<form id="update-moves-form" class="form-horizontal" data-command="UPDATE" data-mn="PokemonMoves">
  <fieldset>
    <legend>Update Entry</legend>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.pokemonId}}
    </div>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.moveId}}
    </div>
    <div class="form-group">
      <input
        id="level"
        name="level"
        type="text"
        placeholder="Level"
      />
    </div>
    <br />
    <button type="submit">Update Entry</button>
  </fieldset>
</form>

<!-- Add New Entry to PokemonAbilities -->
<form id="add-pokemon-abilities-form" class="form-horizontal" data-command="INSERT" data-mn="PokemonAbilities">
  <fieldset>
    <legend>Add New Pokemon Ability</legend>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.pokemonId}}
    </div>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.abilityId}}
    </div>
    <div class="form-group">
      <label for="isHidden">Hidden?</label>
      <input
        id="isHidden"
        name="isHidden"
        type="checkbox"
      />
    </div>
    <br />
    <button type="submit">Add Ability</button>
  </fieldset>
</form>

<!-- Add New Entry to PokemonMoves -->
<form id="add-pokemon-moves-form" class="form-horizontal" data-command="INSERT" data-mn="PokemonMoves">
  <fieldset>
    <legend>Add New Pokemon Move</legend>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.pokemonId}}
    </div>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.moveId}}
    </div>
    <div class="form-group">
      <input
        id="level"
        name="level"
        type="text"
        placeholder="Level"
      />
    </div>
    <br />
    <button type="submit">Add Move</button>
  </fieldset>
</form>

<!-- Add New Entry to PokemonTypes -->
<form id="add-pokemon-types-form" class="form-horizontal" data-command="INSERT" data-mn="PokemonTypes">
  <fieldset>
    <legend>Add New Pokemon Type</legend>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.pokemonId}}
    </div>
    <div class="form-group">
      {{> dynamicDropdown dropdownContext.typeId}}
    </div>
    <br />
    <button type="submit">Add Type</button>
  </fieldset>
</form>