<head>
  <script type="text/javascript" src="/types.js" defer></script>
</head>
<form class="form-horizontal">
  <fieldset>
    <!-- Form Name -->
    <legend>Enter or search Type</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name-input"
        name="name"
        type="text"
        placeholder="Type Name"
        required=""
      />
    </div>

    <br />
    <button id="enter-button" type="button" onclick="">Enter</button>
    <button id="search-button" type="button" onclick="">Search</button>
  </fieldset>
</form>

<table id="typesData">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each pageContext.tableEntries}}
      <tr>
        {{#each this}}
          <td class="{{@key}}-column">{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
<pre>
  {{raw}}
</pre>