<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search for Type</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name-input"
        name="name"
        type="text"
        placeholder="Type Name"
      />
    </div>

    <br />
    <button id="search-button" type="submit">Search</button>
  </fieldset>
</form>

<!-- Add -->
<form id="insert-form" class="form-horizontal" data-command="INSERT">
  <fieldset>
    <legend>Add New Type</legend>

    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Type Name"
        required
      />
    </div>

    <br />
    <button type="submit">Add Type</button>
  </fieldset>
</form>

<!-- Update -->
<form id="update-form" class="form-horizontal" data-command="UPDATE">
  <fieldset>
    <legend>Update Type</legend>

    {{> dynamicDropdown dropdownContext.id}}

    <div class="form-group">
      <input
        id="name"
        name="name"
        type="text"
        placeholder="Type Name"
      />
    </div>

    <br />
    <button type="submit">Update Type</button>
  </fieldset>
</form>

<!-- Delete -->
<form id="delete-form" class="form-horizontal" data-command="DELETE">
  <fieldset>
    <legend>Delete Type</legend>

    {{> dynamicDropdown dropdownContext.id}}

    <br />
    <button type="submit">Delete Type</button>
  </fieldset>
</form>
