<form id="search-form" class="form-horizontal" data-command="SELECT">
  <fieldset>
    <!-- Form Name -->
    <legend>Search for Type</legend>

    <!-- Text input-->
    <div class="form-group">
      <input
        id="name-input"
        name="name"
        type="text"
        placeholder="Type Name"
      />
    </div>

    <br />
    <button id="search-button" type="submit">Search</button>
  </fieldset>
</form>

